{% extends 'registration/login.html' %}
{% load static %}

{% block page-title %}
<title>Register</title>
{% endblock %}

{% block content %}

<div class="limiter">
   <div class="container-login100">
	<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
	   <form  method="POST"
	     class="login100-form validate-form" action="{% url 'success' %}">{% csrf_token %}
	     <span class="login100-form-title p-b-33">

	     </span>

	     <div class="wrap-input100 validate-input" data-validate = "Valid
	     username is required: ex@abc.xyz">

		  {{form.username}}
		  <span class="focus-input100-1"></span>
		  <span class="focus-input100-2"></span>
	     </div>

	     <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
		  {{form.email}}
		  <span class="focus-input100-1"></span>
		  <span class="focus-input100-2"></span>
	     </div>					<div class="container-login100-form-btn m-t-20">


		  <div class="wrap-input100 rs1 validate-input" data-validate="First
		  name is required">
		     {{form.first_name}}
		     <span class="focus-input100-1"></span>
		     <span class="focus-input100-2"></span>
		  </div>					<div class="container-login100-form-btn m-t-20">
		     <button class="login100-form-btn">
			  Sign in
		     </button>
		  </div>

		  <div class="wrap-input100 rs1 validate-input" data-validate="Last
		  name is required">
		     {{form.first_name}}
		     <span class="focus-input100-1"></span>
		     <span class="focus-input100-2"></span>
		  </div>					<div class="container-login100-form-btn m-t-20">
		     <button class="login100-form-btn">
			  Sign in
		     </button>
		  </div>



		  <button class="login100-form-btn">
		     Sign in
		  </button>
	     </div>


	     {% if form.username.errors %}
	     <br>
	     {% for error in form.username.errors %}
	     <p>   <font color="red">{{error }}</font> </p>
	     {% endfor %}
	     {% endif %}



	     {% if form.password.errors %}
	     <br>
	     {% for error in form.password.errors %}
	     <p>   <font color="red">{{error|escape}}</font> </p>
	     {% endfor %}
	     {% endif %}


	     {% if errors %}
	     <br>
	     {% for error in errors %}
	     <p>   <font color="red">{{error}}</font> </p>
	     {% endfor %}
	     {% endif %}


	     <div class="text-center p-t-45 p-b-4">
		  <span class="txt1">
		     Forgot
		  </span>

		  <a href="#" class="txt2 hov1">
		     Username / Password?
		  </a>
	     </div>

	     <div class="text-center">
		  <span class="txt1">
		     Create an account?
		  </span>

		  <a href="#" class="txt2 hov1">
		     Sign up
		  </a>
	     </div>
	   </form>
	</div>
   </div>
</div>




{% endblock content %}
